* {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0px 360px;
  justify-content: center;
}

/* Side Bar */

.sidebar {
  background-color: #f7f9fc;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-bottom: 4px;
}

.contact-card {
  display: flex;
  flex-direction: row;
  padding: 12px 48px;
}

.social-card {
  display: flex;
  flex-direction: row;
  padding: 12px 48px;
}

.language-card {
  display: flex;
  flex-direction: row;
  padding: 12px 48px;
}

/* Main */

.project-container {
  display: flex;
  flex-direction: row;
}
.project-card {
  margin-right: 8px;
  border-radius: 6px;
  background-color: #f7f9fc;
}

.project {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.card {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-container {
  width: 250px;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  color: #888;
  font-size: 0.9em;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.education-card {
  background: #f8faff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.education-card-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.education-card-description {
  display: flex;
  flex-direction: column;
}

.education-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 1em;
  color: #333;
}

.date {
  color: #79819a;
  font-size: 0.9em;
}

.company {
  margin-left: 16px;
}
/* Tools */
.main-tools {
  display: flex;
}
.minor-tools {
  display: flex;
}
.tool-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 8px;
  width: 200px;
  height: 180px;
  padding: 19px;
}

.minor-tools > .tool-name {
  width: 156px;
  height: 130px;
}
