body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #13736e;
}

.carousel-container {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.navbtn {
  width: 32px;
  display: flex;
  align-items: center;
}

.navbtn > :first-child {
  background-color: #25252530;
  border-radius: 10px;
}

.navbtn div:hover {
  transform: scale(1.2);
}

.arrowbtn {
  fill: #f0f0f0;
  cursor: pointer;
}

.carousel-frame {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 40px;
  position: relative;
}

.carousel {
  display: flex;
  position: absolute;
  transition: left 1s;
}

.slide {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.indicators {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #bbbbbb;
}

.indicator:hover {
  transform: scale(1.2);
}

.active {
  background: #555555;
}

@media (min-width: 768px) {
  .carousel-frame {
    width: 600px;
    height: 400px;
  }
}
