@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  /* Side bar */
  .profile > *:not(:last-child) {
    width: 75%;
  }


  /* Projects */
  .project__cards {
    flex-direction: row;
  }

  /* Experience */
  .experience__card {
    flex-direction: row;
  }

  .experience__card > .experience__card-container {
    flex-basis: 25%;
  }

  .experience__card > .experience__card-desc {
    flex-basis: 75%;
  }

  /* Education */
  .education__cards {
    flex-direction: row;
  }

  /* Skills */
  .skill__cards {
    flex-direction: row;
  }

  /* Tools */

  .tools {
    width: 100%;
  }

  .tools__card {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
  }

  .tools__desc {
    flex: 1;
  }

  .tools__desc:nth-child(-1n + 4) {
    flex-basis: calc(25% - 1rem);
    width: 100%;
  }
}
